<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BellTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <BellTest.Properties.Settings>
            <setting name="HoldDownThreshold" serializeAs="String">
                <value>0.8</value>
            </setting>
            <setting name="GroupPauseThreshold" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="CodeEndedThreshold" serializeAs="String">
                <value>1.2</value>
            </setting>
            <setting name="CodeEndPollingPeriod" serializeAs="String">
              <value>0.5</value>
            </setting>
            <setting name="CodeListFileName" serializeAs="String">
                <value>CodeList.xml</value>
            </setting>
            <setting name="BellSoundFileName" serializeAs="String">
                <value>bell.wav</value>
            </setting>
            <setting name="NeedleDeflection" serializeAs="String">
                <value>0.2617993</value>
            </setting>
        </BellTest.Properties.Settings>
    </userSettings>
</configuration>
